@model List<PetsByOwnersGenderViewModel>
@{
    ViewData["Title"] = "Index";
}

@using CatsListingDemo.Domain

<h2>Cats List</h2>

@{
    <div>
        @foreach (var item in Model)
        {

            <h3>@Enum.GetName(typeof(Gender), item.OwnerGender)</h3>
            <ul>
                @foreach (var pet in item.Pets)
                {
                    <li>@pet.Name - @Enum.GetName(typeof(PetType), pet.Type)</li>
                }
            </ul>

        }
    </div>
}