@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="jumbotron">
        <h2>Welcome to the Cats Listing Demo Application!</h2>
        <p>Please choose the corresponding option on the top menu to see the list.</p>
    </div>
</div>

